:root{
    --bg-color: #F9F9F9;
    --dark-grey: #2B2B2B;
    --grey:#525252;
    --medium-grey:#797979;
    --light-grey:#A0A0A0;

    --header-size: 1.2rem;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-color); 
    
   
    
}
.cabecalho__titulo{
    margin-left: 1rem;
    width: 550px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#btnHome{
    background-color: transparent;
    border: none;
}
#titulo{
    width: 430px;
    height: 40px;
}
#div_menu{
    width: 500px;
    height: 40px;
    
    
    
}
.menu{
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    padding-right: 5rem;
   
}
nav ul li  {
    list-style: none;  
}

nav ul li a{
    width: 150px;
    height: 50px;
    text-decoration: none;
    color: var(--dark-grey);
    font-size: var(--header-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
nav ul li a:hover{
    color: var(--medium-grey);
}
#img{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image:linear-gradient(to bottom , var(--dark-grey),var(--light-grey));*/
}
#carrossel{
    width: 1244px;
    height: 700px;
   border-radius: 20px;
   box-shadow: 10px 10px 10px 10px var(--dark-grey);
}

.direcionamento{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
    /* background-color: var(--bg-color); */
    
    
}
.direcionamento__titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    color:var(--dark-grey);
    
}
#novidades{
    width: 180px;
    height: 40px;
    color:var(--bg-color);
    border-radius:20px;
    border: none !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    background-color: var(--grey);
    
}

#btnCor{
    background:transparent;
    border:none;
    border-radius: 3px ;
    position: fixed;
    margin-left: 5px;
    margin-top: 110px ;
}

.paleta{
    width: 30px;
    height: 30px;
    

}
.paleta:hover{
    cursor:pointer;
    transition: all 0.5s;
    width: 50px;
    height: 50px;   
}

.contato{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:30px;
    /* background-color: var(--light-grey); */
}
.contato h2{
    font-size: 36px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--dark-grey);
}
.contato a{
    text-decoration: none;
    color: var(--dark-grey);
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px var(--grey);
    display: flex;
    gap:5px;
    align-items: center;
}
.contato a:hover{
    transition: all 0.3s;
    font-size: 1.4rem;
    
}
.contato_icones{
    width: 1.2rem;
    height: 1.2rem;
}

#rodape{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--light-grey);
}


.login{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: var(--grey);
    color: var(--bg-color);

}
#btnSubmit{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid black;
    background-color: var(--dark-grey);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
#btnSubmit:hover{
    background-color: var(--light-grey);
    color:var(--dark-grey);
  

}
#login_msg{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    
}
#email{
    width: 150px;
    height: 20px;
    border-radius: 10px;
    border:none;
    
} 
#senha{
    width: 150px;
    height: 20px;
    border-radius: 10px;
    border:none;
}
.page_login{
    height: 100vh;
    width: 100%;
    background-color: #A0A0A0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo_sobre{
    font-size: 2rem;
    text-align: center;
    margin-top: 200px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);

}
.secao_sobre{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--medium-grey);
    
   

}
.sobre{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#logosobre{
    position: absolute;
    right: 35px;
}
#texto_sobre{
    position: absolute;
    left: 40px ;
    word-wrap: break-word;
    max-width: 40%;
    text-align: justify;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projetos{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.projetos_edge{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-grey);

}
.projetos_python{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey);
}
.texto_projetos{
    position: absolute;
    right: 30px;
    word-wrap: break-word;
    max-width: 50%;
    text-align: justify;
    font-size: 1.2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:var(--bg-color);

}
#edge{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 100px;

}
#py{
    position: absolute;
    left: 30px;
}
#iconHome{
    width: 35px;
    height: 35px;
}
#btnbackHome{
    width: 35px;
    height: 35px;
    position: relative;
    left: 20px;
    background-color: transparent;
    border:none;
}
#btnbackHome:hover{
    cursor: pointer; 
}
.corredores{
    width: 100%;
    height: 100vh;


}